<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>createwords </title>

    <link href="css/signin.css" rel="stylesheet">
    <link href="css/list.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   
  </head>
  <body class="text-center">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
          <a class="navbar-brand mr-auto mr-lg-0" href="/home">HOST</a>
          <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
          </button>
         
        </nav>  <br>
        
        <form class="form-signin" align="right" method="POST" style="margin-top:100px" action="/uploadfile">   
     
          <div class="container">
            <div class="form-group" align="left">
            <strong>Upload File To Generate Students</strong> <br/><br/>
            <div class="center">
              {{#if  error}}
            <div class="alert alert-danger">
                <strong>{{error}}</strong>
            </div>
            {{/if}}

            {{#if message}}
            <div class="alert alert-success">
                <strong>{{message}}</strong>
            </div>
            {{/if}}
       
            </div>
            <input type="file"  class="form-control" name="file" placeholder=" file" required="" autofocus="">
            <br/>
            <input type="submit" class="alert alert-success form-control" value="Upload">

            </div>
          </div>
          {{!-- </h1> --}}
        </form>

   
{{!--       
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.js"></script>
        <script src="https://unpkg.com/js-offcanvas/dist/_js/js-offcanvas.pkgd.min.js"></script>
      
    
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32 --}}
    </text></svg></body></html>
  
